<div class="card mb-2">
  <div class="card-header">
    <div class="d-grid">
        <a href="/post/{{id}}" class="btn btn-secondary text-white fs-1" type="button" style="text-decoration:none">{{title}}</a>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{description}}</p>
    <p class="card-text"> Created By <b>{{user.name}} </b> on</p>
  </div>


