
<div class="container-fluid mx-auto">
    <div class="row mb-2">
        <div class="col-12 bg-success">
            <h1 class="text-center text-white">{{user.name}}'s Edit to {{title}} Post</h1>
        </div>
        <h1>
            Edit your Blog Post:
        </h1>
    </div>
        <form id="EditForm" class="d-flex-block mx-auto m-3 col-6">
            <div class="form-group p-3">
                <label class="display-6" for="title-area">Title: </label>
                </br>
                <textarea type="text" class="form-control-lg w-100" id="title-area" placeholder="Example Title">{{title}}</textarea>
            </div>
            <div class="form-group p-3">
                <label class="display-6" for="content-area">Content:</label>
                <textarea class="form-control" id="content-area" rows="5">{{description}}</textarea>
            </div>
            <button type="submit" class="w-100 btn btn-success">EDIT POST</button>
        </form>
    </div>  
</div>
