<div class="container-fluid mx-auto">
    <div class="row mb-2">
        <div class="col-12 bg-success">
            <h1 class="text-center text-white">Home</h1>
        </div>
        <h1>
            Homepage
        </h1>
        <div class = "row justify-content-center m-2 text-center">
            {{#each view as |v|}}
            {{> homePost v}}
        </div>
        {{/each}}
    </div>
</div>