<div class="row justify-content-center m-5 text-center">
<div class="card border border-secondary col-8">
  <h5 class="card-header m-1 bg-secondary text-white fs-1">{{title}}</h5>
  <div class="card-body">
    <p class="card-text text-start">{{description}}</p>
    <a href="/dashboard/view" class="btn btn-success">DASHBOARD</a>
    <a href="/" class="btn btn-success">HOME</a>
  </div>
</div>
</div>